.exchange-all {
    margin-left: 100px;
    padding-top: 100px;
}

.nav {
    display: flex;
    justify-content: center;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}
.header__item {
    margin-right: 82px;
}
.header__link {
    color: #404D63;
    font-family: Gilroy, ui-sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0;
    text-align: left;
    text-decoration: none;
}
.header__link:hover, .header__link:focus, .header__link:active {
    opacity: .75;
}
.header__link .chevron {
    background-image: url("../img/svg/chevron-down.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: contain;
}
.header__logo-link:hover {
    opacity: 0.7;
}
